body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

header > h1 {
    background-color: rgb(134, 133, 132);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.37);
}
nav > a {
    padding-left: 5px;

}
main  {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
}